<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="handleValue()">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <!--Use the name `name` for the form control.-->
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Input text"
          />
          <small
            *ngIf="registrationForm.controls.name?.errors?.['required'] && (registrationForm.controls.name?.dirty || registrationForm.controls.name?.touched)"
            style="color: red"
          >
            Name is required.
          </small>
          <small
            *ngIf="registrationForm.controls.name?.errors?.['minlength'] && (registrationForm.controls.name?.dirty || registrationForm.controls.name?.touched)"
            style="color: red"
          >
            Name must be at least 6 characters.
          </small>
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Input text"
          />
          <small
            *ngIf="registrationForm.controls.email?.errors?.['required'] && (registrationForm.controls.email?.dirty || registrationForm.controls.email?.touched)"
            style="color: red"
          >
            Email is required.
          </small>
          <small
            *ngIf="registrationForm.controls.email?.errors?.['email'] && (registrationForm.controls.email?.dirty || registrationForm.controls.email?.touched)"
            style="color: red"
          >
            Please enter a valid email.
          </small>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Input text"
          />
          <small
            *ngIf="registrationForm.controls.password?.errors?.['required'] && (registrationForm.controls.password?.dirty || registrationForm.controls.password?.touched)"
            style="color: red"
          >
            Password is required.
          </small>
          <small
            *ngIf="registrationForm.controls.password?.errors?.['minlength'] && (registrationForm.controls.password?.dirty || registrationForm.controls.password?.touched)"
            style="color: red"
          >
            Password must be at least 8 characters.
          </small>
        </div>
      </div>
      <div class="form__action">
        <app-button buttonText="Submit"></app-button>
      </div>
      <div class="form__text">
        If you have an account you may <strong>Login</strong>
      </div>
    </div>
  </form>
</div>
