<h2 class="text-align-center">Registration</h2>

<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">
      <div class="form__control">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter your Name"
        />
        <span
          *ngIf="registrationForm.controls['name']?.errors?.['required'] && registrationForm.controls['name']?.touched"
          class="text-danger"
        >
          Name is required.
        </span>
        <span
          *ngIf="registrationForm.controls['name']?.errors?.['minlength'] && registrationForm.controls['name']?.touched"
          class="text-danger"
        >
          Name must be at least 6 characters long.
        </span>
      </div>

      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          placeholder="Enter your Email"
          appEmailValidator
        />
        <span
          *ngIf="registrationForm.controls['email']?.errors?.['required'] && registrationForm.controls['email']?.touched"
          class="text-danger"
        >
          Email is required.
        </span>
        <span
          *ngIf="registrationForm.controls['email']?.errors?.['invalidEmail'] && !registrationForm.controls['email']?.errors?.['required']"
          class="text-danger"
        >
          Invalid email format!
        </span>
      </div>

      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your Password"
        />
        <span
          *ngIf="registrationForm.controls['password']?.errors?.['required'] && registrationForm.controls['password']?.touched"
          class="text-danger"
        >
          Password is required.
        </span>
      </div>
    </div>

    <div class="form__action">
      <app-button [buttonText]="'Register'"></app-button>
    </div>

    <div class="form__text">
      Already have an account?
      <a routerLink="/login"><strong>Login</strong></a>
    </div>
  </form>
</div>
