<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <!-- Email Input Field -->
      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
          required
          emailValidator
        />
        <!-- Email Error Message -->
        <span
          *ngIf="loginForm.controls['email']?.errors?.['required'] && loginForm.controls['email']?.touched"
          class="text-danger"
        >
          Email is required.</span
        >
        <span
          *ngIf="loginForm.controls['email']?.errors?.['invalidEmail'] && !loginForm.controls['email']?.errors?.['required']"
          class="text-danger"
        >
          Invalid email format!
        </span>
      </div>

      <!-- Password Input Field -->
      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter your password"
          required
        />
        <!-- Password Error Message -->
        <span
          *ngIf="loginForm.controls['password']?.errors?.['required']  && loginForm.controls['password']?.touched"
          class="text-danger"
        >
          Password is required.
        </span>
      </div>

      <!-- Submit Button -->
      <div class="form__action">
        <app-button
          [buttonText]="'Submit'"
          disabled="loginForm.['invalid']"
        ></app-button>
      </div>

      <!-- Registration info -->
      <div class="form__text">
        If you don't have an account you may
        <a routerLink="/RegistrationFormComponent"
          ><strong>Registration</strong></a
        >
      </div>
    </div>
  </form>
</div>
