<app-header></app-header>
<div class="app-root">
  <!-- Search component -->
  <div class="search-section">
    <input
      type="text"
      placeholder="Search for Characters"
      (input)="changeCharactersInput($event)"
    />
  </div>

  <!-- Info component -->
  <!--<app-info></app-info>-->
  <div class="actions">
    <button (click)="loadCharactersAndPlanets()">
      Load Characters and Planets
    </button>
  </div>

  <div *ngIf="isLoading" class="loader">
    <p>Loading...</p>
  </div>

  <div class="results">
    <h2>Characters and Planets</h2>
    <ul>
      <li *ngFor="let result of planetAndCharactersResults$ | async">
        {{ result }}
      </li>
    </ul>
  </div>
  <!-- Course Card component -->
  <!--<app-course-card></app-course-card>-->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
