<app-header>
  <div class="user-actions">
    <span class="username">{{userName}}</span>
    <button>Logout</button>
  </div>
</app-header>
<app-header>
  <div class="user-actions">
    <span class="username"></span>
    <button>Logout</button>
  </div>
</app-header>


<div class="app-root">

  <!-- Login Form component -->
  <app-login-form (loggedIn)="handleLogin($event)"></app-login-form>
  
  <!-- Register Form component -->
  <app-registration-form></app-registration-form>

  <!-- Course Form component -->
  <app-course-form></app-course-form>
  
  <!-- Search component -->
  <app-search (search)="handleSearch($event)"></app-search>
  
  <!-- Info component -->
  <app-info [title]="title" [text]="infoText" (textChange)="handleSearch($event)"></app-info>

  
  <!-- Course Card component -->
  <app-course-card [courses]="filteredCourses"></app-course-card>

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
