<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="app-plate">
    <div class="course">
      <!-- Main Info -->
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Input text"
        />
        <span
          id="titleErrorMessage"
          class="text-danger"
          *ngIf="isControlInvalid('title')"
        >
          Title is required and must be at least 2 characters.
        </span>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          placeholder="Input text"
          rows="4"
          cols="5"
        ></textarea>
        <span
          id="descriptionErrorMessage"
          class="text-danger"
          *ngIf="isControlInvalid('description')"
        >
          Description is required and must be at least 2 characters.
        </span>
      </div>

      <div class="separator"></div>

      <!-- Authors -->
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex">
          <input
            type="text"
            formControlName="name"
            placeholder="Input Author Name"
            [formGroupName]="'newAuthor'"
          />
          <button
            (click)="createAuthor()"
            [disabled]="!courseForm.get('newAuthor.name')?.valid"
          >
            Create Author
          </button>
        </div>
        <span
          id="authorErrorMessage"
          class="text-danger"
          *ngIf="
            courseForm.get('newAuthor.name')?.invalid &&
            courseForm.get('newAuthor.name')?.touched
          "
        >
          New author should contain only Latin letters and numbers.
        </span>

        <div>
          <h5>Available Authors:</h5>
          <ul>
            <li *ngFor="let author of authorsList">
              {{ author.name }}
              <button (click)="addAuthor(author)">Add</button>
            </li>
          </ul>
        </div>

        <div>
          <h5>Course Authors:</h5>
          <ul>
            <li *ngFor="let author of courseAuthors; let i = index">
              {{ author.name }}
              <button (click)="deleteAuthor(i)">Delete</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="separator"></div>

      <!-- Duration -->
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <input
            id="duration"
            type="number"
            formControlName="duration"
            placeholder="Input duration"
          />
        </div>
        <span
          id="durationErrorMessage"
          class="text-danger"
          *ngIf="isControlInvalid('duration')"
        >
          Duration should be 0 or greater.
        </span>
      </div>

      <div class="form__action">
        <button type="submit" [disabled]="courseForm.invalid">Save</button>
      </div>
    </div>
  </div>
</form>
